#myName {
  display: grid;
  grid-template-columns: 200px auto;
  text-align: center;
  font-size: x-large;
}
body {
  background-color: blanchedalmond;
  background-color: #ccad64;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

h1,
h2 {
  font-family: 'Bubblegum Sans', cursive;
  letter-spacing: 3px;
  margin: auto;
}
a {
  text-decoration: none;
  color: rgb(38, 39, 99);
}
a:hover {
  color: rgb(73, 51, 24);
  text-decoration: underline;
}

p {
  font-family: 'Unica One', cursive
}
ul li {
  font-family: 'Unica One', cursive
}
.notes {
  margin-top: 0px;
  color: rgb(75, 72, 72);
  font-family: 'Unica One', cursive
}
#content {
  max-width: 700px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  background-color: seagreen;
  padding: 30px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: rgb(185, 143, 108) 20px 20px 20px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
img {
  width: 150px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 10px rgba(235, 220, 220, 0.555);
}
ul li {
  padding: 10px;
}
h2 {
  margin: 40px 0px 10px 0px;
}
hr {
  color: brown;
}
footer {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  background-color: chocolate;
  background: rgb(253, 187, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
  border-radius: 0px 0px 20px 20px;
}
footer p {
  margin: auto;
  padding: 10px;
  text-align: center;
}
#latestDate {
  color: bisque;
}