form fieldset {
    margin: 50px auto;
    border-radius: 10px;
    font-family: "open sans";
    color: white;
    padding: auto;
}
form legend {
    color: whitesmoke;
    margin: 0 1rem;
    padding: 0 .5rem;
}
.submitBtn {
    padding: 10px;
    cursor: pointer;
    background-color: #7eaba4;
    border-radius: 5px;
    display: flex;
    margin: auto;
    font-family: 'Open sans';
}
.submitBtn:hover {
    background-color: #343635;
    color: white;
}
form {
    margin: ;
}
form input:required {
    border-left: 5px solid red;
}
form input:required:valid {
    border-left: 5px solid green;
}
form fieldset input {
    margin-bottom:15px;
}
main {
    margin: 10px;
}
form {
    background-color: #2d4873;
    border-radius: 5px;
    padding: 30px;
}
input, textarea {
    padding: 15px 0 15px 15px;
    border-radius: 5px;
}
@media only screen and (min-width:32rem) {
    form {
        grid-column:1/-1;
        grid-row: 1/-1;
    }
    input, textarea {
        padding: 15px 80px 15px 15px;
        border-radius: 5px;
    
    }
}