/***call to action**/
.call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/jan-canty-TSxO6V1R9B0-unsplash.webp);
    padding: 100px;
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
   text-align: center;
}
.call-to-action h1 {
    color: #ededed;
    font-size: 3.5em;
    margin: 10px;
}
.call-to-action button {
    background-color: #ededed;
    padding: 15px;
    color: black;
    font-family: "Open Sans";
    font-size: 1.2em;
    border-radius: 3px;
    cursor: pointer;
}
.call-to-action button:hover {
    color: #76799a;
    text-decoration: underline;
    transform: scale(1.1,1.1);
}

/****main page****/
article {
    margin: 10px;
    padding: 10px;
    background-color: white;
}
section {
    background-color: #bedbedad;
    margin: 10px;
    padding: 10px
}
.adela {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../assets/adelaide_australia_temple.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment:scroll;
   background-position: center center;
   padding: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cebu {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../assets/cebu_philippines_temple_sunset.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment:scroll;
   background-position: center center;
   padding: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.manila {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../assets/manila_philippines_temple_lds.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment:scroll;
   background-position: center center;
   padding: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.laie {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../assets/laie_hawaii_temple_lds.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment:scroll;
   background-position: center center;
   padding: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.templesList .templecard a {
    color: #ededed;
    font-family: 'Open sans';
    border: 2px solid #ededed;
    padding: 5px;
    text-decoration: none;
    border-radius: 2px;
}
.templesList .templecard a:hover {
    background-color: #ededed;
    color: black;
    padding: 5px 10px;
}
.templesList .templecard h4 {
    margin-bottom: 10px;
    color: white;
}
.templesList .templecard p {
    margin-bottom: 15px;
    color: white;
}
.templesList a h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 2em;
}
.templesList a h3:hover {
    text-decoration: underline;
}
a  {
    text-decoration: none;
}
.degrees span {
    display: flex;
    font-size: 2em;
    justify-content: center;
}
.weatherpile{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
}
.alphabets ul, li {
    list-style: none;
}
.alphabets ul {
    display: inline-flex;
    flex-wrap: wrap;
}
body > main > div.main-content > section:nth-child(1) > article > article > div > div > ul > li {
    display: flex;
    flex-direction: column;
}
.alphabets ul li {
    margin-right: 20px;
}
body > main > div.main-content > section:nth-child(1) > article > article > div {
    padding-top: 20px;
    font-family: 'Open sans';
}
.weather-section {
    text-align: center;
}
body > main > div.main-content > section:nth-child(1) > div > article:nth-child(1) {
    border: 2px solid black;
    border-radius: 20px;
}
h3 {
    margin-top: 10px;
    color: white;
    background-color: #574525;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}
.contactadd {
    margin-top: 0px;
}
.contactadd li {
    margin-bottom: 15px;
}
.headw {
    background-color: #574525;
    padding: 8px;
    margin: 0 10px;
    color: white;
}
body > main > div.main-content > section:nth-child(1) > article > article > h4 {
    background-color: #574525;
    padding: 10px;
    color: white;
}
.fore {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}
a:hover{
    text-decoration: underline;
}

/**form**/
form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}
form input{
    width: 94%;
    height: 30px;
    padding: 10px;
    font-family: 'Open sans';
    margin-bottom: 10px;
}
body > main > div.main-content > section.templesList > form > p {
    margin: 10px 0px;
}
form textarea {
    width: 85%;
}
form button {
    padding: 15px;
    border: 2px solid #574525;
    cursor: pointer;
    color: #574525;
    width: 100%;
}
form button:hover {
    background-color: #574525;
    color: white;
}


/** only specific small page **/
@media only screen and (max-width:513px) {
    .call-to-action h1 {
        font-size: 1.8em;
    }
    .call-to-action {
        padding: 50px;
    }
    .call-to-action button {
        transform: scale(.8,.8);
    }
    .call-to-action button:hover {
        transform: scale(1, 1);
    }
    body > main > div.main-content > section:nth-child(1) > article > article > div > div > ul > li {
        padding: 5px;
    }
}



/*** table view ***/
@media only screen and (min-width:32rem) {
    body > main > div.main-content > section:nth-child(1) > article > article > div > div > ul > li {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2px;
    }
    .templecard:hover {
        padding-bottom: 50%;
    }


} 



/*** web view ***/
@media only screen and (min-width:64rem) {
    .main-content {
        display: grid;
        grid-template-columns: auto 500px;
        width: 100%;
        justify-content: center;
        margin: 80px auto;
    }

} 