/* fonts*/
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;*/
/* colors *//*
#574525, #3e6bb7, #76799a, #2e5aa1, #abc67f*/

* {
    margin: 0px;
    padding: 0px;
    transition: 200ms ease-in-out;
}
p {
    font-family: 'Open Sans', sans-serif;
}

/***Header Style***/
h1, h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
}
h5, h2 {
    font-family: 'Roboto Slab', serif;
}
.logotitle {
    display: flex;
    align-items: center;
    justify-content: space-around!important;
}
header {
    background-color: #ebebeb;
}
body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(69%2c 93%2c 113%2c 0.72)'%3e%3c/rect%3e%3cpath d='M147.392%2c304.897C201.561%2c302.369%2c245.143%2c266.431%2c273.258%2c220.061C302.692%2c171.516%2c319.689%2c113.349%2c294.327%2c62.558C266.439%2c6.709%2c209.775%2c-34.285%2c147.392%2c-31.998C87.97%2c-29.82%2c47.008%2c20.78%2c18%2c72.687C-10.101%2c122.971%2c-28.65%2c182.523%2c-0.611%2c232.841C28.015%2c284.214%2c88.646%2c307.639%2c147.392%2c304.897' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M102.966%2c214.098C145.734%2c213.417%2c191.125%2c203.254%2c212.759%2c166.355C234.585%2c129.128%2c222.217%2c83.933%2c201.463%2c46.098C179.671%2c6.37%2c148.199%2c-31.118%2c102.966%2c-33.8C53.647%2c-36.724%2c6.374%2c-9.85%2c-18.074%2c33.083C-42.287%2c75.604%2c-40.256%2c129.276%2c-13.057%2c169.951C11.595%2c206.818%2c58.622%2c214.804%2c102.966%2c214.098' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M89.965%2c216.504C133.844%2c219.368%2c172.963%2c188.611%2c193.284%2c149.616C212.182%2c113.352%2c205.75%2c70.317%2c184.284%2c35.511C163.955%2c2.55%2c128.691%2c-17.772%2c89.965%2c-17.906C50.999%2c-18.041%2c12.751%2c0.422%2c-5.491%2c34.854C-22.798%2c67.523%2c-9.563%2c104.773%2c7.635%2c137.499C26.598%2c173.586%2c49.286%2c213.849%2c89.965%2c216.504' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1260.81 -7.47 a59.72 59.72 0 1 0 119.44 0 a59.72 59.72 0 1 0 -119.44 0z' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1441.999%2c250.327C1487.897%2c249.785%2c1523.09%2c213.798%2c1544.918%2c173.419C1565.534%2c135.282%2c1570.423%2c89.911%2c1549.132%2c52.146C1527.477%2c13.737%2c1486.034%2c-6.879%2c1441.999%2c-9.131C1393.077%2c-11.633%2c1338.598%2c-2.264%2c1314.038%2c40.121C1289.435%2c82.58%2c1309.268%2c133.984%2c1334.784%2c175.9C1359.03%2c215.73%2c1395.373%2c250.877%2c1441.999%2c250.327' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1271.28 -17.94 a38.78 38.78 0 1 0 77.56 0 a38.78 38.78 0 1 0 -77.56 0z' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-38.33 411.67 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0z' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-104.87 478.21 a135.08 135.08 0 1 0 270.16 0 a135.08 135.08 0 1 0 -270.16 0z' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M115.345%2c707.103C164.015%2c707.548%2c203.61%2c670.414%2c225.499%2c626.942C245.226%2c587.762%2c239.644%2c542.23%2c217.392%2c504.427C195.501%2c467.237%2c158.411%2c442.556%2c115.345%2c439.802C66.533%2c436.681%2c12.301%2c447.374%2c-12.124%2c489.751C-36.529%2c532.092%2c-16.099%2c582.804%2c8.624%2c624.96C32.964%2c666.463%2c67.233%2c706.663%2c115.345%2c707.103' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1223.15 478.18 a135.03 135.03 0 1 0 270.06 0 a135.03 135.03 0 1 0 -270.06 0z' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1395.993%2c614.77C1429.41%2c614.355%2c1456.208%2c589.305%2c1471.546%2c559.613C1485.589%2c532.427%2c1483.384%2c500.862%2c1468.704%2c474.014C1453.325%2c445.887%2c1428.045%2c420.87%2c1395.993%2c421.435C1364.625%2c421.988%2c1342.981%2c449.162%2c1327.589%2c476.5C1312.572%2c503.172%2c1303.542%2c534.098%2c1317.115%2c561.533C1332.19%2c592.006%2c1361.998%2c615.193%2c1395.993%2c614.77' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1428.67%2c684.011C1474.264%2c682.283%2c1511.368%2c648.958%2c1531.2%2c607.866C1548.61%2c571.792%2c1539.38%2c531.004%2c1519.22%2c496.391C1499.223%2c462.058%2c1468.399%2c431.331%2c1428.67%2c431.826C1389.569%2c432.313%2c1362.888%2c465.577%2c1341.943%2c498.598C1318.711%2c535.224%2c1293.357%2c576.895%2c1311.734%2c616.183C1332.197%2c659.93%2c1380.409%2c685.84%2c1428.67%2c684.011' fill='rgba(47%2c 55%2c 65%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

/** hambttn **/
#hambttn {
    padding: 10px 15px;
    cursor: pointer; 
    display: table;
    transition: 200ms;
    
}
.bar1, .bar2, .bar3 {
    background-color: #666057;
    width: 30px;
    height: 4px;
    transition: 0.5s;
    margin: 7px 0;
    border-radius: 1px;
}
#hambttn:hover { 
    border-radius: 5px;
}
.rotate-icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: rgb(51, 51, 51);
}
.rotate-icon .bar2 {
    transform: translateX(-250%);
}
.rotate-icon .bar3 {
    -webkit-transform: rotate(42deg) translate(-9px, -8px);
    transform: rotate(42deg) translate(-9px, -8px);
    background-color: rgb(51, 51, 51);
}
.rotate-icon {
    border: none!important;
}


/** logo **/
.logo, .logo-footer {
    width: 20%;
    margin: 10px 0px;
}


/** linklist **/
#linklist {
    list-style: none;
    transform: translateX(-100%);
    
}
#linklist.open {
    transform: translateX(0%);
}

#linklist a {
    color: black;
    font-family: 'Open sans';
    text-decoration: none;
    display: block;
    padding: 20px;
}
#linklist a:hover {
    color: #76799a;
}
/*** social links logo **/
.sociallinks-logo {
    padding: 0%;
    margin: 0%;
}
hr {
    background-color:rgb(95, 91, 91);
    padding-top: 1px;
}
.sociallinks-logo:hover {
    transform: scale(1.5,1.5);
}




/*** footer style ***/
footer {
    background-color: #ebebeb;
}
footer p {
    font-family: 'open sans';
    text-align: center;
    font-size: .7em;
}
.end-footer {
    color: white;
    background-color: black;
    padding: 15px;
}
.start-footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
.start-footer li {
    list-style: none;
    font-family: 'Open Sans';
    margin: 15px 0px;
    color: #76799a;
}
.start-footer a {
    text-decoration: none;
    color: #76799a;
}
.logo-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.start-footer a:hover {
    color: black;
}
.start-footer h4 {
    color: #574525;
}


/*** special small view ***/
@media only screen and (max-width:513px) {
    .start-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .start-footer h4 {
        font-size: 1.1em;
        margin-top: 20px;
    }
    .start-footer h5 {
        font-size: 1.2em;
        margin-bottom: 30px;
    }
    .start-footer li {
        font-size: .9em;
    }
    #linklist a:hover {
        color: white;
        border-left: 3px solid white;
        transition: 500ms ease-in-out;
    }
    .active a {
        border-left: 3px solid white;
        transition: 500ms ease-in-out;
    }
    #linklist.open, #linklist {
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: #7c7c7ce8;
      }
    #linklist > li:nth-child(6) > a, #linklist > li:nth-child(7) > a, #linklist > li:nth-child(8) > a {
        background-color: #ebebebb5;
    }
    .logotitle {
        flex-direction: row-reverse;
    }
    .logo {
        order: -1;
    }
}


/*** active links ***/

.active a {
    color: white!important;
}


/**Tablet Screens**/
@media only screen and (min-width: 32rem) {
    #hambttn {
        display: none;
    }
    .logo, .logo-footer {
        width: 150px;
    }
    #linklist.open, #linklist {
        transform: translate(0,0);
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        padding: 0px 10px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px grey;
    }
    #linklist a {
        padding: 10px;
    }
    .logotitle {
        justify-content: center!important;
    }
    h1 {
        font-size: 1.5em;
    }
    .logo-footer{
        flex-direction: row;
    }
    .active a {
        border-bottom: 3px solid #574525;
    }
    hr {
        background-color:black;
        padding: 5px 0px;
    }
    .active a {
        color: #574525!important;
    }
    .social-links-disc {
        display: none;
    }
    

}

/**Web Screens**/
@media only screen and (min-width: 64rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #linklist a{
        justify-content: space-around;
        padding: 20px;
    }
    #linklist, #linklist.open {
        background-color: #ebebeb;
        box-shadow: none;
    }
    h1 {
        font-size: 2em;
    }
    #linklist a:hover {
        color: #574525;
    }
    .active a {
        border-bottom: 3px solid #574525;
        color: #574525!important;
    }
}