/* fonts*/
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;*/
/* colors *//*
#574525, #3e6bb7, #76799a, #2e5aa1, #abc67f*/

* {
    margin: 0px;
    padding: 0px;
    transition: 200ms ease-in-out;
}

/***Header Style***/
h1, h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
}
h5 {
    font-family: 'Roboto Slab', serif;
}
.logotitle {
    display: flex;
    align-items: center;
    justify-content: space-around!important;
}
header {
    background-color: #ebebeb;
}

/** hambttn **/
#hambttn {
    padding: 10px 15px;
    cursor: pointer; 
    display: table;
    transition: 200ms;
    
}
.bar1, .bar2, .bar3 {
    background-color: #666057;
    width: 30px;
    height: 4px;
    transition: 0.5s;
    margin: 7px 0;
    border-radius: 1px;
}
#hambttn:hover { 
    border-radius: 5px;
}
.rotate-icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: rgb(51, 51, 51);
}
.rotate-icon .bar2 {
    transform: translateX(-250%);
}
.rotate-icon .bar3 {
    -webkit-transform: rotate(42deg) translate(-9px, -8px);
    transform: rotate(42deg) translate(-9px, -8px);
    background-color: rgb(51, 51, 51);
}
.rotate-icon {
    border: none!important;
}


/** logo **/
.logo, .logo-footer {
    width: 20%;
    margin: 10px 0px;
}


/** linklist **/
#linklist {
    list-style: none;
    transform: translateX(-100%);
    
}
#linklist.open {
    transform: translateX(0%);
}

#linklist a {
    color: black;
    font-family: 'Open sans';
    text-decoration: none;
    display: block;
    padding: 20px;
}
#linklist a:hover {
    color: #76799a;
}
/*** social links logo **/
.sociallinks-logo {
    padding: 0%;
    margin: 0%;
}
hr {
    background-color:rgb(95, 91, 91);
    padding-top: 1px;
}
.sociallinks-logo:hover {
    transform: scale(1.5,1.5);
}




/*** footer style ***/
footer {
    background-color: #ebebeb;
}
footer p {
    font-family: 'open sans';
    text-align: center;
    font-size: .7em;
}
.end-footer {
    color: white;
    background-color: black;
    padding: 15px;
}
.start-footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
.start-footer li {
    list-style: none;
    font-family: 'Open Sans';
    margin: 15px 0px;
    color: #76799a;
}
.start-footer a {
    text-decoration: none;
    color: #76799a;
}
.logo-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.start-footer a:hover {
    color: black;
}
.start-footer h4 {
    color: #574525;
}


/*** special small view ***/
@media only screen and (max-width:513px) {
    .start-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .start-footer h4 {
        font-size: 1.1em;
        margin-top: 20px;
    }
    .start-footer h5 {
        font-size: 1.2em;
        margin-bottom: 30px;
    }
    .start-footer li {
        font-size: .9em;
    }
    #linklist a:hover {
        color: white;
        border-left: 3px solid white;
        transition: 500ms ease-in-out;
    }
    .active a {
        border-left: 3px solid white;
        transition: 500ms ease-in-out;
    }
    #linklist.open, #linklist {
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: #7c7c7ce8;
      }
    #linklist > li:nth-child(6) > a, #linklist > li:nth-child(7) > a, #linklist > li:nth-child(8) > a {
        background-color: #ebebebb5;
    }
    .logotitle {
        flex-direction: row-reverse;
    }
    .logo {
        order: -1;
    }
}


/*** active links ***/

.active a {
    color: white!important;
}


/**Tablet Screens**/
@media only screen and (min-width: 32rem) {
    #hambttn {
        display: none;
    }
    .logo, .logo-footer {
        width: 150px;
    }
    #linklist.open, #linklist {
        transform: translate(0,0);
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        padding: 0px 10px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px grey;
    }
    #linklist a {
        padding: 10px;
    }
    .logotitle {
        justify-content: center!important;
    }
    h1 {
        font-size: 1.5em;
    }
    .logo-footer{
        flex-direction: row;
    }
    .active a {
        border-bottom: 3px solid #574525;
    }
    hr {
        background-color:black;
        padding: 5px 0px;
    }
    .active a {
        color: #574525!important;
    }
    .social-links-disc {
        display: none;
    }
    

}

/**Web Screens**/
@media only screen and (min-width: 64rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #linklist a{
        justify-content: space-around;
        padding: 20px;
    }
    #linklist, #linklist.open {
        background-color: #ebebeb;
        box-shadow: none;
    }
    h1 {
        font-size: 2em;
    }
    #linklist a:hover {
        color: #574525;
    }
    .active a {
        border-bottom: 3px solid #574525;
        color: #574525!important;
    }
}